
<div class="container">

  <div class="ask">
    <%= @question %>
  </div>

  <div class="answer">
    <%= @answer %>
  </div>

  <button type="button" class="btn btn-outline-primary"><%= link_to "New ask", ask_path %></button></button>

</div>

